/* Clase para el contenedor del pie de página */
.footer-container{
    background: var(--clr-yellow); 
    margin: 8rem 0 0;
    width: 100%;
    display: grid;
    margin-left: 0;
}

/* Clase para el contenido del pie de página */
.footer-content{
    display: grid;
    width: 80vw; 
    margin: 2rem auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

/* Clase para los enlaces del pie de página */
.footer-links{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}

/* Clase para la lista de navegación en la parte inferior */
.nav-bottom-list{
    padding: 0; 
    list-style-type: none;
}

/* Clase para los enlaces de navegación en la parte inferior */
.nav-bottom-link{
    text-decoration: none;
    color: black;
}

